<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Memo</title>
</head>
<body>
    <h1>What I want to do here is: </h1>
    <ul>
        <li>SNS for encouraging people under God's standard</li>
        <li>Memo App</li>
        <li>Schedule and Ticker App for recording what you need to do and what you have done</li>
        <li>Take a look at the <a href="https://github.com/django-cms/django-cms">Django CMS Github</a> for
            further studying and you can also check their
                <a href="https://docs.django-cms.org/en/latest/whoisbehind/index.html">docs site</a></li>
    </ul>
</body>
</html>